@import './typography.scss';

$bg-color: #d8dcff;
$black-color: #040f0f;
$primary-color: #d7907b;

$big-font-size: 64px;
$regular-font-size: 32px;
$caption-font-size: 20px;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  padding: 0;
  margin: 0;
  background: $bg-color;
  font-size: $regular-font-size;
}

.root {
  width: max(24px, 45vw);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 0.625em;
  gap: 24px;
  padding-block: 36px;
  margin-bottom: 84px;
}

nav p:first-child {
  flex-grow: 1;
  font-family: 'Poppins-Bold';
  letter-spacing: 0.1em;
}

.primary {
  color: $primary-color;
  font-family: 'Poppins-Bold';
}

.title {
  font-family: 'Poppins-Bold';
  font-size: 2em;
  margin-bottom: 35px;
}
.description {
  margin-bottom: 174px;
}

.under-construction {
  text-align: center;
  font-size: 0.625em;
  border: 1px dashed $black-color;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  align-self: center;
  letter-spacing: 0.1em;
}
