@import './typography.scss';

$bg-color: #d8dcff;
$black-color: #040f0f;
$primary-color: #d7907b;

$font-size: 32px;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  padding: 0;
  margin: 0;
  background: $bg-color;
  font-size: $font-size;
}

.root {
  padding: 32px 22.5vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 0.625em;
  gap: 24px;
  margin-bottom: 84px;
}

nav p:first-child {
  flex-grow: 1;
  font-family: 'Poppins-Bold';
  letter-spacing: 0.1em;
}

.primary {
  color: $primary-color;
  font-family: 'Poppins-Bold';
}

.title {
  font-family: 'Poppins-Bold';
  font-size: 2em;
  margin-bottom: 35px;
}
.description {
  margin-bottom: 174px;
}

.under-construction {
  text-align: center;
  font-size: 0.625em;
  border: 1px dashed $black-color;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  align-self: center;
  letter-spacing: 0.1em;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .root {
    padding: 32px 48px;
  }

  nav {
    margin-bottom: 32px;
  }

  .title {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 30px;
  }
}
